<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <div class="container">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Users list</h3>
                        </div>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-lg" @click="showCreate"><i
                                    class="fa fa-plus" style="margin-right: 10px;"></i>Add user
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="search">
                                <input type="text"
                                       placeholder="Find user"
                                       v-model="search">
                            </div>
                            <input type="radio" id="name" value="name" v-model="searchBy">
                            <label for="name">By name</label>
                            <input type="radio" id="email" value="email" v-model="searchBy">
                            <label for="email">By email</label>
                        </div>

                        <div class="box-body table-responsive no-padding">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Avatar</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(user, index) in filteredUsers" :key="user.id">
                                        <td>{{user.id}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>
                                            <img :src="user.avatar" alt=""></td>
                                        <td>
                                            <button class="btn btn-success"
                                                    title="Edit"
                                                    @click="showEdit(user, index)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-warning"
                                                    title="Delete"
                                                    @click="deleteUser(user.id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <template>
        <div v-if="showEditPopup" class="modal fade in" id="modal-default" style="display: block; padding-top: 50px">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelChange">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" v-if="editMode">Edit user</h4>
                        <h4 class="modal-title" v-else>Add user</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Id*</label>
                                    <input type="text" class="form-control" v-model="checkedUser.id">
                                </div>
                                <div class="form-group">
                                    <label>Name*</label>
                                    <input type="text" class="form-control" v-model="checkedUser.name">
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="email" class="form-control" v-model="checkedUser.email">
                                </div>
                                <div class="form-group">
                                    <label>Avatar</label>
                                    <input type="text" class="form-control" v-model="checkedUser.avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" @click="cancelChange">Cancel</button>
                        <button type="button" class="btn btn-primary" v-if="editMode" @click="editUser">Update</button>
                        <button type="button" class="btn btn-primary" @click="createUser" v-else>Add</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<script src="js/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>